/.idea
/test
/frontend/node_modules
/frontend/dist
/build/bin
/frontend/package.json.md5
/frontend/package-lock.json
/tools.ico
/tools.exe.manifest
/tools.rc
/tools-res.syso
/appicon.png
/build/tools.exe
/frontend/wailsjs/runtime
